<!DOCTYPE html>
<html>
<head>
<meta name="siteview" content="width=device-width, initial-scale=1">
<style>
body
{
    background-color: #ffddab;
    margin: 0;
    /*padding: 30px;*/
    
}
.h1  
{
    font-family: Verdana, Helvetica, san-serif;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    
}
.h2
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.75em;
    text-align: center;
}
.p1
{
    font-family: Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 0.45em;
    text-align: center;
}
.content 
{
    max-width: 500px;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.container
{
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    background: #8fbc8f;
    box-shadow: 5px 10px 8px #888888;
}
.container2
{
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    background: #729672;
    box-shadow: 5px 10px 8px #888888;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffddab; 
  color: #fd9a17;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

  <div class="topnav">
    <a class="active" href="/homePage">Home</a>
    <a href="/expense-tracker">Expense Tracker</a>
    <a href="/budget">Budget</a>
    <a href="/accountProfile">Account Profile</a>
    <a href="/payment-notif">Notifications</a>
    <a href="/BillTipSplitter">Bill + Tips Splitter</a>
    <a href="/recommendation">Recommendations</a>
    <a href="/Tutorial">Tutorials</a>
        <form method="post" action="logout">
        <input style="margin-top:15px;" type="submit" value="log out">
        </form>
</div>

<div class="content">

<h class="h1">Bill & Tip Splitter</h1>

<br>
<br>
<div class="container">

<h class="h2">Bill Splitter</h1>
<br>
<p class="p1">Calculate your portion of the bill with this calculator</p1>

<form oninput="x.value=parseFloat(a.value)/parseFloat(b.value)">
<input type="text" id="a" placeholder="Total Bill">
<br>
<input type="text" id="b" placeholder="Total People">
<br>
<p class="p1">The individual bill will be $<output name="x" for="a b"></output></p1>
<br>
<br>
</div>
<br>
</form>

</body>




<body>
<div class="container2">

<h class="h2">Tip Splitter</h1>
<br>
<p class="p1">Figure out exactly how much you want to tip. In Canada, the average tip is 15-20%.</p1>

<form oninput="x.value=parseFloat(a.value)*(parseFloat(b.value)/100)">
<input type="text" id="a" placeholder="Bill Cost">
<br>
<input type="text" id="b" placeholder="Tip Percentage">
<br>
<p class="p1">You should Tip $<output name="x" for="a b"></output></p1>
<br>
<br>
</form>
</div>
</div>

</body>



</html>
