<!DOCTYPE html>
<html>
<head>
<title>Money &Omega;mega</title>
</head>
<body style="background-color:darkseagreen;"></body>
    <link rel='stylesheet' href='/stylesheets/landingPage.css' />
    <div class="topnav">
      <a href="/login">Login/Sign Up</a>
  </div>
<center><img src="/images/landingPage.png" height=830px width=1450px></center>
</body>
</html>
