
<link rel='stylesheet' href='/stylesheets/LoginStyle.css' />

    <div class="topnav">
        <a class="active" href="/landingPage">Go Back</a>
    </div> 

<div class= "login-content"> 
<form class="Loginform" method="post">
    <div class= "login-LHS" style="width:50%; float:left; background-color: #faecdd;">
        <h1>Welcome Back !</h1>
        <img src ="/images/budget-icon2.png" alt="Financial Logo" width= "50%">
        <h4>Gain your Financial Independence with us!</h4>
    </div>
    
    <div class="login-RHS"style="width:30%; float:right">
        <img class = "userImg" src ="/images/user.png" alt="user logo"  width= "50%" margin-left ="auto" margin-right="auto";>
        <br>
        <input class = "input-field" name="username" placeholder="Enter username">
        <br>
        <input class = "input-field" name="password" placeholder="Enter password" type = "password">
        <br>

        <div class="sub-button"> 
        <input class="input-button" name="login" value="log in" type ="submit">
        <button class="input-button" ><a id= "reg" href='/registration'>Register</a> </button>

        </div>
    </div>
    <br style="clear:both;" >

</form>
</div>