body{margin:0;}
label{
  cursor: pointer;
  display: inline-block;
  padding: 3px 6px;
  width: 120px;
  vertical-align: top;
}

.title{
  padding-top: 20px;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffddab; 
  color: #fd9a17;

}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
  .header{
      text-align: center;
      padding-top: 20px;
      padding-bottom: 15px;
  }

  .input-button{
    background: black;
    color: white;
    border: 0;
    outline: 0;
    padding: 10px;
    font-size: 15px;
    width: 90px;
    margin-bottom: 20px;
    cursor: pointer;
    margin:0;
    transition: all 50ms;
  } 
  
  .input-button:hover{
    background:#7ccc92;
    color: #2c733f;
  }

  .savedData{
    width:50%; 
    border: 2px solid  rgb(39, 38, 38); 
    border-radius:5px;
    background-color: white;    
    box-shadow: 15px 15px 10px #fdaf5d;  
    padding: 20px;
  }